<p><%= @unprocessed_tweet_count %> unprocessed Tweets <%= button_to 'Process', tweet_processing_jobs_path, class: 'pure-button pure-button-primary' %></p>
<p><%= @urls.count %> URLs for review.</p>
<table class="pure-table">
  <thead>
    <tr>
      <th>Archive</th>
      <th>Clean</th>
      <th>Source</th>
      <th>Link</th>
    </tr>
  </thead>
<% @urls.each do |url| %>
  <tr>
    <td><%= button_to 'Archive', archived_urls_path(id: url.id, filter: params[:filter]), class: 'pure-button' %></td>
    <td><%= button_to 'Clean', cleaned_urls_path(id: url.id, filter: params[:filter]), class: 'pure-button' %></td>
    <td>
      <% if url.source_type == 'Tweet' %>
        <%= link_to 'Tweet', url.source.original.url.to_s, class: 'pure-button pure-button-primary' %>
      <% else %>
        &nbsp;
      <% end %>
    </td>
    <td><%= link_to url.url, url.url, target: '_blank' %></td>
  </tr>
<% end %>
</table>
