<span class="fa-stack fa-3x">
  <i class="fa fa-calendar-o fa-stack-2x"></i>
  <strong class="fa-stack-1x calendar-text">27</strong>
</span>

  <h2 class="content-subhead"><%= event.title %></h2>
  <p><%= date_and_time_display(event.local_starts_at) %></p>
  <p>
  <%= event.city %>, <%= event.country %> (<%= sanitize event.host %>)<br>
  <%= sanitize event.description %><br>
  <%= link_to "Read More", event.url %>
<% if current_identity -%>
  | <%= link_to "Show", event_path(event) %>
  | <%= link_to "Edit", edit_event_path(event) %>
<% end -%>
  </p>
