<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ElmEvents</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="layout">
      <!-- Menu toggle -->
      <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>

      <div id="menu">
        <div class="pure-menu">
          <p class="pure-menu-heading">Events</p>
          <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Upcoming</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Past</a></li>
          </ul>

          <ul class="pure-menu-list" style="padding-top: 15px;">
            <% if current_identity %>
              <li class="pure-menu-item" style="text-align: center; margin: 5px;">
                <%= link_to(new_event_path, class: 'pure-button pure-button-primary') do %>
                  <i class="fa fa-calendar-plus-o"></i> New Event
                <% end %>
              </li>
            <% end %>
          </ul>
          <ul class="pure-menu-list" style="margin-top: 15px;padding-top:15px">
              <% if current_identity %>
                <li class="pure-menu-item" style="text-align: center; margin: 5px;">
                  <strong><%= current_identity.name %></strong>
                </li>
                <li class="pure-menu-item" style="text-align: center; margin: 15px;">
                  <%= button_to "Sign Out", out_path, method: :delete, class: 'pure-button' %>
                </li>
              <% else %>
                <li class="pure-menu-item" style="text-align: center; margin: 5px;">
                  <%= button_to in_path, method: :get, class: 'pure-button' do %>
                    <i class="fa fa-github"></i> Sign In
                  <% end %>
                </li>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <div id="main">
        <div class="header">
          <h1>Elm Events</h1>
          <h2>Meetups, Conferences and More</h2>
        </div>

        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
